
.row .col-9,
.row .col {
    height: 55vh;
}

#image-box {
    object-fit: cover;
}

.img-wrapper {
    width: 100%;
    height: calc(100% / 5);
}

.text-box {
    bottom: 5%;
    width: 80%;
    right: 3rem;
}

.carousel-image img {
    
}

.filtered {
    filter: brightness(50%);
}

.active {
    border: 1 solid white;
}

.arrow-up,
.arrow-down {
    background-color:  lightgray;
    border-radius: 50%;
}

.arrow-up {
    top: 1rem;
}

.arrow-down {
    bottom: 1rem;
}

