body {
    height: 100vh;
}

.row .col-9,
.row .col {
    height: 60vh;
}

#image-box {
    height: 60vh;
    overflow: hidden;
}

#image-box .main-img {
    height: 100%;
    display: none;
}

#image-box .main-img.active{
    display: block;
}

#image-box .main-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-box {
    bottom: 5%;
    width: 80%;
    right: 3rem;
}

#vertical-carousel {
    overflow: hidden;
}

#vertical-carousel .img-wrapper {
    height: calc(60vh / 5);
    filter: brightness(50%);
}

#vertical-carousel .img-wrapper.active {
    border: 1px solid rgb(182, 180, 180);
    filter: brightness(100%);
}

#vertical-carousel .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-up,
.arrow-down {
    background-color:  rgb(151, 151, 151);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.arrow-up {
    top: 1rem;
}

.arrow-down {
    bottom: 1rem;
}

